body{
	margin:0px;
}
.topnav {
  overflow: hidden;
  background-color:#9c511f;
  opacity: .7;
  color: white;
  display: flex;
  justify-content: space-between;
  
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color:#e67300;
  color: white;
}

.topnav a.active {
  color: white;
}

/* .topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
} */

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
html {
background-image: url('https://twin-cities.umn.edu/sites/twin-cities.umn.edu/files/media/Books-on-a-table.jpg');
width: 100vw;
height: 100vh; 
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
}

.books{
	text-align:center;
  margin-top: -6px;
	color: #ffffff;
	padding-top : 3px;
  padding-bottom: 3px;
	margin-left: 300px;
	margin-right: 300px;
  font-size: 39px;
	border-radius:40px;
	color: #3a1d0a;
	font-family: "Dancing Script"

}
.options{
	background-color: #ffffff;
	text-align: center;
	margin-top: 160px;
	padding:8px;
	margin-left: 570px;
	margin-right: 570px;
	border-radius: 60px;
  opacity: .7;
  height: 210px;

}
.options label{
  font-size: 35px;
}
.options select{
  font-size: 25px;
  margin-top: 30px;

}
	


